# =========================
# Build & Dependency Files
# =========================
/build/
/.gradle
!gradle/wrapper/gradle-wrapper.jar

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
## IntelliJ
.idea/
*.iml
*.iws
*.ipr
/out/
!**/src/main/**/out/
!**/src/test/**/out/

## Eclipse / Spring Tool Suite
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# =========================
# Misc
# =========================
HELP.md
.mtj.tmp/

# =========================
# secret variable
# =========================
.env
src/main/resources/application-dev.yml
